<div>
  <% for article in @articles do %>
    <p>Article Title:<strong><%= article.title %></strong></p>
    <p>Article Text:<strong><%= article.text %></strong></p>
  <hr/>
  <hr/>
  <% end %>
</div>


<%= link_to "ADD ARTICLE", new_article_path %>